extends layout

block content
  link(rel='stylesheet', href='/stylesheets/about.css')
  .container
    .row
      .col-lg-12
        br
        h3.text-center À Propos 
        p
          | Salut, vous êtes ici sur notre site internet !
          | Nous avons réalisé ce site pour notre UE de PPP.
        p
          | Et vu que c'est un site cool, il est sur github.
          | Tu peux nous cloner ou nous forker ici : <a href="https://github.com/bsulyan/PPP">https://github.com/bsulyan/PPP</a>

        br
        h3.text-center Qui sommes nous ? 

        ul.timeline
          li
            .timeline-image
              img.img-responsive.img-circle(src='/images/icon/butters.png', alt='')
            .timeline-panel
              .timeline-heading
                h4 Bastien Sulyan
              .timeline-body

            .line
          li.timeline-inverted
            .timeline-image
              img.img-responsive.img-circle(src='/images/icon/homer.png', alt='')
            .timeline-panel
              .timeline-heading
                h4 Maxime Michelat
              .timeline-body

            .line
          li.timeline-inverted
            .timeline-image
              img.img-responsive(src='/images/icon/fry.png', alt='')
            .timeline-panel
              .timeline-heading
                h4 Jules Massart
              .timeline-body

  br
  br
  h3 Un site web 2.0
  .container
    .row
      .col-xs-12.col-sm-6.col-lg-4
        .box
          .icon
            .image
              img.img-responsive(src='/images/icon/bootstrap.png', alt='')
            .info
              h3.title Bootstrap
              p
                | 
          .space

      .col-xs-12.col-sm-6.col-lg-4
        .box
          .icon
            .image
              img.img-responsive(src='/images/icon/jade.png', alt='')
            .info
              h3.title Jade
              p
                | 
          .space

      .col-xs-12.col-sm-6.col-lg-4
        .box
          .icon
            .image
              img.img-responsive(src='/images/icon/html5.png', alt='')
            .info
              h3.title HTML5
              p
                | 
              .more
          .space

      .col-xs-12.col-sm-6.col-lg-4
        .box
          .icon
            .image
              img.img-responsive(src='/images/icon/css3.png', alt='')
            .info
              h3.title CSS3
              p
                | 
          .space

      .col-xs-12.col-sm-6.col-lg-4
        .box
          .icon
            .image
              img.img-responsive(src='/images/icon/node.png', alt='')
            .info
              h3.title Node.js
              p
                | 
          .space

      .col-xs-12.col-sm-6.col-lg-4
        .box
          .icon
            .image
              img.img-responsive(src='/images/icon/jQurery.gif', alt='')
            .info
              h3.title Jquery
              p
                | 
          .space

