extends layout

block content
  br
  h1 Ingénieur en Systèmes Embarqués
  br
  .container
    .row.marketing
      .col-lg-6
        p
          img.img-responsive.img-rounded.center-block(src='/images/raspb.jpg')
      .col-lg-6
        br
        br
        br
        p
          | Aéronautique, automobile, multimédia, domaine médical, ..., les 
          | systèmes embarqués sont de plus en plus présents dans notre 
          | quotidien. L'objectif de l'ingénieur en systèmes embarqués est de
          |  faire en sorte que les bons ordres soient envoyés à la bonne 
          | machine afin qu'elle exécute une tâche précise. Un système embarqué
          | , comme tout matériel informatique se compose d'une partie 
          | matérielle (hardware) et d'une partie logicielle (software) qui 
          | communiquent en permanence. Le temps réel ainsi que la limitation
          |  de la puissance de calcul des machines sur lesquelles il travaille
          |  crée un certain nombre de contraintes avec lesquelles l'ingénieur 
          | doit savoir travailler. A lui de savoir maîtriser les 
          | caractéristiques de ces composants pour éviter les problèmes.
    br

    img(src='/images/barre.png')
    .row
      .col-xs-12.col-sm-6.col-md-6.col-lg-6
        .icon-left
          i.fa.fa-thumbs-o-up.fa-3x
        .text
          h2 Qualités
          p ▪ Polyvalence
          p ▪ Créativité
          p ▪ Esprit analytique
          p ▪ Rigueur

      .col-xs-12.col-sm-6.col-md-6.col-lg-6
        .icon-left
          i.fa.fa-cog.fa-3x.fa-spin
        .text
          h2 Compétences
          p ▪ Informatique 
          p ▪ Ingéniérie des systèmes informatiques
          p ▪ Mathématiques et Physique

    img(src='/images/barre.png')

    br
    .row.dollars
      i.fa.fa-money.fa-3x
    h2 Salaires
    br
    .row
      .col-md-4
        p Débutant :
        p 25.200€ / année
      .col-md-4
        p Confirmé :
        p 32.400€ / année
      .col-md-4
        p Senior :
        p 39.600€ / année
