extends layout

block content
  br
  h1 Ingénieur Réseau
  br
  .container
    .row.marketing
      .col-lg-6
        p
          img.img-responsive.img-rounded.center-block(src='/images/admReseau.jpg')
      .col-lg-6
        br
        br
        br
        p
          | L’ingénieur réseau est en charge de développer, d’implémenter et de
          | maintenir des réseaux de communication internes ou externes à une
          | organisation. Son but est de s’assurer de l’intégrité d’infrastructures
          | réseau afin de fournir une performance maximale. Il travaille pour cela
          | sur différents types de réseaux : local (LAN), sans fil (WLAN), VoIP, …
          | et est responsable entre autres de la mise en place de réseau(x)
          | sécurisé(s), d’équipements de routage, de mises à jour visant à supprimer
          | des bugs, …
    br

    img(src='/images/barre.png')
    .row
      .col-xs-12.col-sm-6.col-md-6.col-lg-6
        .icon-left
          i.fa.fa-thumbs-o-up.fa-3x
        .text
          h2 Qualités
          p ▪ Polyvalence
          p ▪ Esprit analytique
          p ▪ Rigueur

      .col-xs-12.col-sm-6.col-md-6.col-lg-6
        .icon-left
          i.fa.fa-cog.fa-3x.fa-spin
        .text
          h2 Compétences
          p ▪ Informatique 
          p ▪ Ingéniérie des systèmes informatiques
          p ▪ Sécurité reseau
          p ▪ Mathématiques et Physique

    img(src='/images/barre.png')

    br
    .row.dollars
      i.fa.fa-money.fa-3x
    h2 Salaires
    br
    .row
      .col-md-4
        p Débutant :
        p 27.600€ / année
      .col-md-4
        p Confirmé :
        p 37.500€ / année
      .col-md-4
        p Senior :
        p 50.000€ / année
