extends layout

block content
  br
  br
  link(rel='stylesheet', href='/stylesheets/carousel.css')
  #thumbnail-preview-indicators.carousel.slide(data-ride='carousel')
    // Indicators
    ol.carousel-indicators
      li.active(data-target='#thumbnail-preview-indicators', data-slide-to='0')
        .thumbnail
          img.img-responsive(src='/images/img1.jpg')
      li(data-target='#thumbnail-preview-indicators', data-slide-to='1')
        .thumbnail
          img.img-responsive(src='/images/img2.jpg')
    .carousel-inner
      .item.slides.active
        .slide-1
        .container
          .carousel-caption
            h1 Ingénieur en Systèmes Embarqués
            p Développer pour les systèmes présents dans la majorité des équipements.
            p
              a.btn.btn-lg.btn-primary(href='/system', role='button') Découvrir la Fiche
      .item.slides
        .slide-2
        .container
          .carousel-caption
            h1 Ingénieur Réseau
            p Optimiser les systèmes de communication.
            p
              a.btn.btn-lg.btn-primary(href='/network', role='button') Découvrir la Fiche
    a.left.carousel-control(href='#thumbnail-preview-indicators', role='button', data-slide='prev')
      span.glyphicon.glyphicon-chevron-left
    a.right.carousel-control(href='#thumbnail-preview-indicators', role='button', data-slide='next')
      span.glyphicon.glyphicon-chevron-right

