doctype html
html
  head
    block title
      title Bienvenue
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='stylesheets/font-awesome.min.css', rel='stylesheet')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    block head

  body
    header(class="navbar navbar-inverse navbar-static-top bs-docs-nav navbar-fixed-top ", id="top", role="banner")
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='.bs-navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') Index
        nav(class="collapse navbar-collapse bs-navbar-collapse")
          ul(class="nav navbar-nav")
            li
              a(href='/system') Ingénieur Système Embarqué
            li
              a(href='/network') Ingénieur Réseau

          ul(class="nav navbar-nav navbar-right")
            li
              a(href='/about') A propos

    .container   
      .row
        .col-lg-12.text-center
          br
          br
          block content
    footer
      .container
        .row
          hr
          br
          p(align='center') Projet Personnel Professionnalisé (PPP)
          br


    script(src='/javascripts/jquery-2.2.2.min.js')
    script(src='/javascripts/bootstrap.min.js')
